@import "http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin";
a {
    text-decoration:none;
}
.header {
    display: flex;
    justify-content: center;
    background-color: rgb(4, 58, 107, 1);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo {
    align-self: center;
    mix-blend-mode: normal;
    margin: 0.4em 0 0.4em 0;
}
.header_name {
    align-self: center;
    margin-left: -0.5em;
    font-style: normal;
    font-size: 1.5em;
    color: #95E5FF;
}
nav {
    align-self: flex-end;
    margin-left: 2.7em;
}
.nav-item a {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 2.5em;
    color: #95E5FF;
    margin-right: 1.4em;
}
ul {
    display: flex;
}
.menu-item {
    list-style-type: none;
}
.language-img {
    margin-left: 93%;
    margin-bottom: 2%;
    text-align: top;
}
.language-img img {
    object-fit: cover;
    width: 35%;
}
