<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="{{url_for('static', filename='reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}}" type="image/png">
    <title>Кафедра ЦТиМ</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/index_en">
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="Логотип кафедры">
            </a>
        </div>
        <div class="header_name">USPTU <br> DT&M</div>
        <nav>
            <div class="language-img">
                <a href="/"><img src="{{url_for('static', filename='img/eng.png')}}"></a>
            </div>
            <ul>
                <li class="nav-item"><a href="/news_en">News</a></li>
                <li class="nav-item"><a href="/students_en">For students</a></li>
                <li class="nav-item"><a href="/applicants_en">For applicants</a></li>
                <li class="nav-item"><a href="/education_en">Education</a></li>
                <li class="nav-item"><a href="/history_en">History</a></li>
                <li class="nav-item nav-item_sub">
                    <a href="#">About department <img src="{{url_for('static', filename='img/note.png')}}"></a>
                    <ul class="sub-menu">
                        <li class="nav-item-sub"><a href="#">Teachers</a></li>
                        <li class="nav-item-sub"><a href="#">Employment</a></li>
                        <li class="nav-item-sub"><a href="#">Achievements</a></li>
                        <li class="nav-item-sub"><a href="#">Documents</a></li>
                    </ul>
                </li>
            </ul>
            <div class="hamburger-menu">
                <img src="{{url_for('static', filename='img/hamburger-menu.png')}}" alt="Гамбургер меню">
            </div>
        </nav>
        <div class="language"></div>
    </header>
    <div class="container">
        <div class="container_content">
            <div class="title">
                <p>Department of Digital Technologies and Modeling</p>
            </div>
            <p class="welcome">Welcome!</p>
            <p class="content-info">
                Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text

            </p>
            <div class="imgUniversity">
                <img src="{{ url_for('static', filename='img/university.png') }}" align="left" alt="Фотография 12 корпуса УГНТУ">
                <p class="сontacts">Our contacts:</p>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>