html {
    font-family: 'Ubuntu';
}
 a {
text-decoration:none;
 }
header {
    display: flex;
    justify-content: center;
    background-color: rgb(4, 58, 107, 1);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo {
    align-self: center;
    mix-blend-mode: normal;
    margin-top: 0.5em;
}
.logo img {
    width: 75%;
}
.header_name {
    align-self: center;
    margin-left: -0.5em;
    font-style: normal;
    font-size: 1.5em;
    color: #95E5FF;
}
nav {
    position: relative;
    align-self: flex-end;
    margin-left: 2.7em;
}
.nav-item a {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 2.5em;
    color: #95E5FF;
    margin: 0.7em;
}
.nav-item:hover {
    background-color: #0a88b9;
}
.nav-item_sub {
    position: relative;
    cursor: pointer;
}
.sub-menu {
    position: absolute;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    font-size: 12px;
    line-height: 20px;
    background-color: #1b569d;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.5s ease-in;
    opacity: 0;
    height: 0;
    width:100%;
}
.nav-item-sub:hover {
    background-color: #ffffff4e;
}
ul {
    display: flex;
}
.menu-item {
    list-style-type: none;
}
.hamburger-menu {
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-content: flex-start;
    background-image: url(img/Фон.png);
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container_content {
    align-self: center;
    margin-top: 5%;
    width: 60%;
    height: 40%;
    background-color: white;
}
.title p {
    margin: 0.5em 0 1.5em 0.5em;
    font-family: 'Ubuntu Regular';
    font-size: 1.4em;
    color: #000000;
}
.welcome {
    margin: 0 0 1.5em 0.5em;
    font-size: 1.2em;
}
.content-info {
    margin: 0.5em 0 1em 0.5em;
    font-size: 1em;
}
.imgUniversity {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 33%;
    margin-bottom: 20%;
}
.container_content img {
    width: 40%;
}
.сontacts {
    margin-left: 45%;
}
@media (max-width: 768px) {
    .language-img {
        display: none;
    }
    ul {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .hamburger-menu img{
        width: 10%;
        align-self: center;
        float: right;
        margin-right: 0.8em;
        margin-bottom: 8px;
    }
    .imgUniversity {
        display: block;
        width: 90%;
    }
    .contacts {
        display: none;
    }
}
@media (max-width: 635px) {
    .logo {
        margin-left: 3%;
    }
    .header_name {
        display: none;
    }
    .content-info {
        margin: 0.5em 0 1em 0.5em;
    }
    .container_content img {
        display: block;
        width: 80%;
    }
    .imgUniversity {
        display: block;
    }
    .title p {
        font-size: 1em;
    }
    .welcome {
        font-size: 0.8em;
    }
    .content-info {
        font-size: 0.7em;
    }
    .сontacts {
        display:none;
    }
}