<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="{{url_for('static', filename='reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Кафедра ЦТиМ</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/index_en">
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="Логотип кафедры">
            </a>
        </div>
        <div class="header_name">USPTU <br> DT&M</div>
        <nav>
            <div class="language-img">
                <a href="/"><img src="{{url_for('static', filename='img/eng.png')}}"></a>
            </div>
            <ul>
                <li class="nav-item"><a href="/news_en">News</a></li>
                <li class="nav-item"><a href="/students_en">For students</a></li>
                <li class="nav-item"><a href="/applicants_en">For applicants</a></li>
                <li class="nav-item"><a href="/education_en">Education</a></li>
                <li class="nav-item"><a href="/history_en">History</a></li>
                <li class="nav-item"><a href="/about_en">About department <img src="{{url_for('static', filename='img/note.png')}}"></a></li>
            </ul>
        </nav>
        <div class="language"></div>
    </header>
    <div class="white_box">
        <div class="container_content">
            {%block content%}{%endblock%}
            </div>
        </div>
</body>
</html>